<p>
  users-apicomponent works!
</p>

<ol>
  <li *ngFor="let user of allUsers">
    {{user.name}}
  </li>
</ol>
Real Time Search:
<input type="text" [(ngModel)]="searchString" autofocus> {{searchString}}
  <br>
  <br>
  <br>



<table border="1">
  <thead>
<tr>
  <th>Id</th>
  <th>Name</th>
  <th>Email</th>
  <th>latitude</th>
</tr>
 
  </thead>
  
  <tr *ngFor="let user of allUsers | autoSearchPipe:searchString">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address.geo.lat + " , " + user.address.geo.lng}}</td>
    
    <button (click)="deleteUser(user.id)">Delete</button>
    <td><button (click)="viewDetail(user.id)">Detail</button></td>
  </tr>
  
</table>

<br>
<br>
<button (click)="postUser()">Create</button>&nbsp; &nbsp;

