<p>
  model-form works!
</p>

<form [formGroup]="modelForm" (ngSubmit)="modelFormUser(modelForm.value)">
  Name: <input type="text" formControlName="name"><br><br>
  Email: <input type="text" formControlName="email"> <br><br>
  Hobbies: <select formControlName="hobby">
      <option value="Driving">Driving</option>
      <option value="Painting">Painting</option>
      <option value="Dancing">Dancing</option>
      <option value="Singing">Singing</option>
</select>
 <br><br>
<button type="submit" [disabled]="!modelForm.valid">Add Data </button>
</form>